name: Create Pre-Release

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '.gitignore'
      - 'LICENSE'
      - '**/*.md'

jobs:
  build-and-package:
    name: Build and Package
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    # - name: Checkout code
    #   uses: actions/checkout@v6

    # - name: Setup .NET
    #   uses: actions/setup-dotnet@v5
    #   with:
    #     dotnet-version: '9.0.x'

    # - name: Create output directory
    #   run: mkdir -p "${{ github.workspace }}/Release"

    # - name: Build release
    #   run: |
    #     cd scripts
    #     npm install
    #     npm run build-release

    - name: Prepare release info
      id: prepare-release
      run: echo "TAG_NAME=pre-release-$(Get-Date -Format 'yyyyMMdd-HHmmss')" >> $env:GITHUB_ENV

    - name: Test
      run: echo $env:TAG_NAME
    # - name: Upload Release Assets
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     files: ./Release/*.zip
    #     tag_name: ${{ steps.prepare-release.outputs.TAG_NAME }}
    #     release_name: "[Experimental] ${{ steps.prepare-release.outputs.TAG_NAME }}"
    #     draft: false
    #     prerelease: true
    #     body: "Pre-release build from main branch. Built on $(Get-Date -Format 'yyyy-MM-dd HH:mm:ss')"
